Package: com.lint.stopitwiththecoins
Name: StopItWithTheCoins
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: Removes the "Get Coins" button in the nav bar and awarded comment highlights in Reddit.
Maintainer: lint
Author: lint
Section: Tweaks
