Package: com.lint.stopitwiththecoins
Name: StopItWithTheCoins
Depends: mobilesubstrate
Version: 1.1.1
Architecture: iphoneos-arm
Description: Hides several coin promotions and usages in the official Reddit app.
Maintainer: lint
Author: lint
Section: Tweaks
